<div class="page-container">
  <app-header [title]="title"></app-header>
  <main class="main-content">
    <app-hero></app-hero>
    
    <!-- Features Section with ID -->
    <section id="features">
      <app-features [features]="features"></app-features>
    </section>
    
    <!-- Services Section with ID -->
    <section id="services">
      <app-services [services]="services"></app-services>
    </section>
    
    <!-- Contact Section with ID -->
    <section id="contact">
      <app-contact></app-contact>
    </section>
  </main>
  <app-footer [title]="title"></app-footer>
</div>
